html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

body {
	/*font-family: "Barlow Condensed";*/
	font-family: "Pathway Gothic One";
	background-color: #fcfcfc;
}

body > header {
	width: 100%;
	height: 100vh;
	text-align: center;
	background-image: url('img/header.jpg');
	background-size: cover;
}

body > header {
	width: 100%;
}

body > header > section {
	display: inline-block;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	width: 80%;
	margin: 35% 10% 0;
	border-radius: 10px;
	padding: 40px 5%;
}

body > header > a  {
	color: #fff;
	display: inline-block;
	margin-top: 20px;
}

body > header > a > span.material-icons {
	font-size: 48px;
}
main {
	margin: 20px 5% 0;
	width: 90%;
}
main > section:first-of-type > article {
	border: 1px solid #cacaca;
	background-color: #fff;
	padding: 10px 5%;
	border-radius: 10px;
	margin-bottom: 20px;
}

main > section:first-of-type > article > footer {
	margin: 20px 0;
	text-align: right;
}

main > section:first-of-type > article > footer a {
	text-decoration: none;
	color: #fff;
	background-color: #575151;
	padding: 5px 10px;
	border-radius: 5px;
}

body > footer {
	color: #fff;
	margin-top: 20px;
	text-align: center;
	background-color: #575151;
	width: 100%;
	padding: 20px 10%;
}

@media screen and (min-width: 768px) {
	body > header > section {
		margin-top: 15%;
	}
	
	main > section:first-of-type {
		vertical-align: top;
	}
	
	main > section:first-of-type > article {
		width: 28%;
		margin-right: 4%;
		display: inline-block;
	}
	
	main > section:first-of-type > article:nth-child(3n) {
		margin-left: 4%;
	}
	
	main > section:first-of-type > article > p {
		min-height: 40px;
	}
}
